:host{
    color: rgb(255,255,255); 
 }
 
 .reservation-card {
     margin: 20px auto;
     max-width: 800px;
   }
   
   mat-form-field{
    margin: 10px 0;
   }

   .full-width{
    width: 100%;
   }

   mat-card-actions button{
    margin-left: 10px;
   }
