<div class="wrapper">
    <div class="top-actions">
       <button mat-raised-button color="accent" (click)="addButtonClicked()">Agregar Usuario</button> 
    </div>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
    
        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Nombre de usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

            <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="deletedButtonClicked()">
                <mat-icon>delete</mat-icon>
              </button> 
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
  